@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.ttf");
}

body{
font-family: Roboto;
}
.site{

}
.text-logo{
    font-size: 50px;
    padding: 40px 0;
    text-shadow: 2px 2px #ffd381;
}
.title-card{
    text-align: center;
    font-weight: bold;
}
.tab-content{
    margin-bottom: 25%;
}

.footer{
    text-align: center;
    margin-bottom: 50px;
}

.action{
    width: 300px;
}
.admin{
    padding: 50px;
}
.help-inline{
    color: red;
}